config:
  target: "http://${INGRESS_HOST}"
  http:
    pool: 500
    timeout: 10
  phases:
    - duration: 10
      arrivalRate: 1
    - duration: 600000
      arrivalRate: 600
  payload:
    path: "id_index.csv"
    fields: 
      - "id_index"
scenarios:
  - name: "Search"
    flow:
      - get:
          url: "/api/{{ id_index }}"

