config:
  target: "http://${INGRESS_HOST}"
  http:
    pool: 5
  phases:
    - duration: 600000
      arrivalRate: 2
  payload:
    path: "index.csv"
    fields:
      - "index"
scenarios:
  - name: "Create"
    flow:
      - post:
          url: "/api"
          json: 
            username: "test{{ index }}"
            password: "pass{{ index }}"

